<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgy.learn.bootvue.mapper.UserMapper">
    <select id="findAll" resultType="com.zgy.learn.bootvue.pojo.User">
        SELECT * FROM t_user;
    </select>

    <insert id="saveUser" parameterType="com.zgy.learn.bootvue.pojo.User">
        INSERT INTO `t_user`(`name`, `age`, `salary`, `phoneCode`)  VALUES (#{name}, #{age}, #{salary}, #{phoneCode});
    </insert>

    <delete id="deleteUserById" parameterType="int">
        DELETE FROM `t_user` WHERE id = #{id};
    </delete>
</mapper>
