<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <!-- 小图标 -->
        <link href="/img/star.ico" rel="shortcut icon" type="image/x-icon">
        <!-- 使用了jquery -->
        <script src="/js/jquery-3.4.0.min.js"></script>
        <!-- bootstrap css文件 -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="col-xl-10 offset-1">
                <!-- 异步提交，获取结果 -->
                <form action="/login" id="login" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="user"><strong>用户名: </strong></label>
                        <div class="col-xl-12">
                            <input class="form-control" id="user" name="usr" placeholder="请输入用户名" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xl-2 control-label" for="pwd"><strong>密码: </strong></label>
                        <div class="col-xl-12">
                            <input class="form-control" id="pwd" name="pwd" placeholder="请输入密码" type="password">
                        </div>
                    </div>
                    <div class="form-group form-check" style="margin-left:15px;">
                        <input class="form-check-input" id="remember-me" type="checkbox" name="remember-me">
                        <label class="form-check-label" for="remember-me">记住我</label>
                    </div>

                    <div class="form-group" style="padding-left: 15px; padding-right: 15px;">
                        <input class="btn btn-block btn-warning" onclick="reset()" type="button" value="重置"/>
                        <input class="btn btn-block btn-success" type="submit" value="登录"/>
                    </div>
                </form>
            </div>
        </div>

        <script>
            function reset() {
                $("#user").val = "";
                $("#pwd").val = "";
            }
        </script>
    </body>
</html>