<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>admin</title>
        <!-- 小图标 -->
        <link href="/img/star.ico" rel="shortcut icon" type="image/x-icon">
        <!-- 使用了jquery -->
        <script src="/js/jquery-3.4.0.min.js"></script>
        <!-- bootstrap css文件 -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="offset-2 col-md-8">
                <div class="row back">
                    <h2 class="text-info text-center">Admin的财富密码!</h2>
                </div>
                <div class="row back">
                    <img src="/img/dog.png" class="img-rounded">
                </div>
            </div>
        </div>
        <style>
            .back {
                background-color: #d4e4ff
            }
        </style>
    </body>

</html>