<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>error</title>
        <!-- 小图标 -->
        <link href="/img/star.ico" rel="shortcut icon" type="image/x-icon">
        <!-- 使用了jquery -->
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- bootstrap css文件 -->
        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="offset-2 col-md-8">
                <div class="row back">
                    <h2 class="text-info text-center">这是error页面, 登录失败!</h2>
                </div>
                <div class="row login">
                    <a href="/index" name="登录">登录</a>
                </div>
            </div>
        </div>
        <style>
            .back {
                background-color: #d4e4ff
            }

            .login {
                font-size: 18px;
                margin-top: 10px;
                border: 2px solid lightsalmon;;
            }
        </style>
    </body>
</html>