<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>hello</title>
        <!-- 小图标 -->
        <link href="/img/star.ico" rel="shortcut icon" type="image/x-icon">
        <!-- 使用了jquery -->
        <script src="/js/jquery-3.4.0.min.js"></script>
        <!-- bootstrap css文件 -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="offset-2 col-md-8">
                <div class="row back">
                    <h2 class="text-info text-center">这是hello页面, 您已经登录成功!</h2>
                    <a href="/logout" style="vertical-align: center; line-height: 40px; padding-left: 200px;">退出登录</a>
                </div>
                <div class="row back">
                    <a href="/scenery">点击欣赏风景图片</a>
                </div>
                <div class="row back">
                    <a href="/wall">点击查看长城</a>
                </div>
                <div class="row back">
                    <a href="/admin">admin的财富密码</a>
                </div>
                <div class="row back">
                    <a href="/thymeleaf">整合thymeleaf</a>
                </div>
            </div>
        </div>
        <style>
            .back {
                background-color: #d4e4ff
            }
        </style>
    </body>

</html>