<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <!-- 设置网站小图标 -->
        <link rel="shortcut icon" type="image/x-icon" href="images/icon01.ico">
        <!-- bootstrap css文件, 这样就是引入了本地的css文件 -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container" style="margin-top: 10px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <span class="text-center form-control" style="font-size: 24px;">跳转到验证码页面</span>
                    <a class="gray-back margin-setting" href="/kaptcha/page">
                        <span class="text-info form-control">跳转到验证码页面</span>
                    </a>
                </div>
            </div>
        </div>

        <style>
            .gray-back {
                background-color: lightgray;
            }

            .margin-setting {
                margin: 5px;
            }
        </style>
    </body>
</html>