<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>hello</title>
        <!-- 设置网站小图标 -->
        <link rel="shortcut icon" type="image/x-icon" href="icon03.ico">
        <!-- bootstrap css文件, 这样就是引入了本地的css文件 -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container" style="margin-top: 10px;">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p class="lead text-info"><strong>普通的警告框</strong></p>
                    <div class="alert alert-success">成功了啊！</div>
                    <div class="alert alert-info">提示！</div>
                    <div class="alert alert-warning">警告！</div>
                    <div class="alert alert-danger">危险啊！</div>
                </div>
                <div style="padding-right: 75px;">
                    <!-- 直接访问自定义资源文件夹下面的文件, 层级关系 -->
                    <img src="s1.png">
                </div>
                <div>
                    <img src="s2.png">
                </div>
            </div>
        </div>

        <style>
            .back {
                background-color: #f5f8ff;
            }
        </style>
    </body>
</html>