<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>index</title>
        <!-- 小图标 -->
        <link href="/img/mine.ico" rel="shortcut icon" type="image/x-icon">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <!-- style="margin-top: 10px; border: 1px solid #ff9800;" -->
            <div class="offset-2 col-md-8">
                <div class="row back">
                    <h2 class="text-info text-center">JWWT + SHIRO</h2>
                </div>
                <div class="row login">
                    <a href="/login" name="登录">登录</a>
                </div>
            </div>
        </div>
        <style>
            .back {
                background-color: #d4e4ff
            }

            .login {
                font-size: 18px;
                margin-top: 10px;
                border: 2px solid lightsalmon;;
            }
        </style>
    </body>
</html>