<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Token page</title>
        <!-- bootstrap css文件 -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="col-md-4 container">
            <form class="form-horizontal" action="/kid/login" method="post" style="margin: 20px">
                <div class="form-group">
                    <span>用户id:</span>
                    <input type="text" class="form-control" name="id" placeholder="请输入用户id"><br/>
                    <span>密码:</span><input type="text" class="form-control" name="password" placeholder="请输入密码"><br/>
                </div>
                <button type="submit" class="btn btn-info" style="margin-left:-13px;">登录</button>
            </form>
        </div>
    </body>
</html>