.webuploader-container {
    position: relative;
/ / position: relative;
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding-left: 5px;
    padding-right: 5px;
/ / padding: - 5 px - 5 px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}

.webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
}

