<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgy.bootintegration.mapper.FileMd5Mapper">
    <select id="selectFileMd5" parameterType="string" resultType="java.lang.Integer">
        SELECT COUNT(`id`)
        FROM `file_md5`
        WHERE fileMd5 = #{md5}
    </select>
    <select id="selectFilePath" resultType="java.lang.String">
        SELECT filePath
        FROM `file_md5`
        WHERE fileMd5 = #{md5}
    </select>
</mapper>