<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container" style="margin-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                    <span class="text-center text-info form-control" style="font-size: 24px;">文件上传和下载</span>
                    <!-- form-control 外围有一个边框 -->
                    <a class="form-control" style="margin-top: 10px;" href="/file/index">
                        <span class="text-danger text-center" style="font-size: 18px;">文件上传下载页面</span>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>